@use "../sass/variables/colors";

html {
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
}
.container {
  background-color: colors.$primary-color;
  width: 375px;
  border-radius: 30px 0;
}
img {
  width: 375px;
  border-radius: 30px 0;
}
h1 {
  font-weight: 700;
}
p {
  font-size: 16px;
  color: colors.$fourth-color;
}
