@use "../sass/variables/colors";

html {
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
}
.container {
  background-color: colors.$primary-color;
  width: 375px;
  border-radius: 30px 0;
}
img {
  width: 375px;
}
h1 {
  font-weight: 700;
}
p {
  font-size: 16px;
  color: colors.$fourth-color;
}
.banner {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: colors.$fifth-color;
  background-image: url(/img/nota\ musical.png);
  background-repeat: no-repeat;
  padding-left: 35px;
  background-size: 30px;
  background-position-y: center;
  background-position-x: 18px;
}
.annual-plan {
  font-size: 13px;
  border-radius: 16px;
  height: 80px;
  margin: 25px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  padding: inherit;
  width: 200px;
  height: 30px;

  .annual-plan__price {
    color: colors.$sixth-color;
  }
}
.anchor {
  display: flex;
  color: colors.$seventh-color;
  align-items: flex-end;
}
